header {
  width: calc(100% - 2rem);
  margin: 1rem; }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    header div h1, header div button {
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0; }
  header ul {
    padding: 1rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; }
    header ul li {
      border-bottom: 1px solid #ddd;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      text-align: center; }
    header ul li:last-child {
      border: none; }
    header ul li label {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between; }
    header ul.hide {
      display: none !important; }

main {
  display: flex;
  flex-direction: column; }
  main ul {
    display: flex;
    width: calc(100% - 4rem);
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; }
    main ul li {
      width: calc(100% - 2rem);
      padding: 0.25rem 1rem;
      display: flex;
      justify-content: space-between; }
      main ul li label {
        width: 100%;
        justify-content: space-between; }
      main ul li select {
        display: flex;
        width: 100%; }
  main section {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: calc(100% - 12vmin);
    margin: 3vmin;
    padding: 3vmin;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    @media only screen and (min-width: 768px) {
      main section div {
        width: 20% !important; } }
    main section div {
      display: flex;
      flex-direction: row;
      min-height: 200px;
      align-items: flex-end;
      justify-content: flex-end;
      border: 1px solid #ddd;
      margin-bottom: 80px;
      padding: 40px 30px 10px;
      position: relative; }
      main section div.topDog {
        position: absolute;
        top: -28px;
        height: 20px;
        padding: 1px 4px;
        background: white;
        border: 2px solid orange; }
      main section div:first-of-type {
        display: none; }
      main section div:first-of-type {
        display: flex; }
      main section div span {
        width: 1px;
        display: flex;
        background: orange;
        height: 0;
        align-items: center;
        justify-content: center;
        transition: height 1s linear;
        position: relative; }
      main section div span:first-child {
        position: absolute;
        bottom: -60px;
        left: -1px;
        width: calc(100% + 2px);
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 60px;
        background: #eee; }
      main section div span:first-child p {
        line-height: 20px; }
      main section div select {
        margin: 5px; }

footer {
  padding: 1rem;
  text-align: center; }

.dayLine {
  width: 1px;
  background: #eee !important;
  height: 100%; }

.heightLine {
  height: 1px;
  background: #eee !important;
  width: 100%;
  position: absolute;
  left: 0; }

input {
  width: 100%; }

.deaths {
  background: #ff0000 !important; }

.recovered {
  background: #0000ff !important; }

select {
  padding: 1rem; }

#multiplier label {
  flex-direction: column; }

#multiplier input {
  margin: 1rem; }

/*# sourceMappingURL=index.css.map */
